langchain
langchain-community
duckduckgo-search
python-dotenv
requests
langchain-google-genai
google-generativeai


## with vesrion 
# langchain==1.2.0
# langchain-community==0.4.1
# duckduckgo-search==8.1.1
# python-dotenv==1.2.1
# requests==2.32.5
# langchain-google-genai==4.1.2
# google-generativeai==0.8.6

# library for crewai ang Gorqcloud
crewai
langchain_groq


#library for phidata and gorqcloud
phidata
